doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', href='/images/favicon.ico')
    script(src='https://web-broadcast.live-video.net/1.6.0/amazon-ivs-web-broadcast.js')
  body
    h1 Live Stream Music
    hr
    a(href='/') Index
    span  | 
    a(href='/broadcast') Broadcast
    span  | 
    a(href='playback') Playback
    hr
    h2 Broadcast
    canvas(id='preview')
    br
    button(onClick='startBroadcast()') Start broadcast
    script(src='/javascripts/broadcast.js')
