doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', href='/images/favicon.ico')
  body
    h1 Live Stream Music
    hr
    a(href='/') Index
    span  | 
    a(href='/broadcast') Broadcast
    span  | 
    a(href='playback') Playback
    hr
    block content
