doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', href='/images/favicon.ico')
  body
    h1 Live Stream Music
    hr
    a(href='/') Index
    span  | 
    a(href='/broadcast') Broadcast
    span  | 
    a(href='/playback') Playback
    span  | 
    a(href='/sign-up') Sign Up
    hr
    block content
    hr 
    footer
      p Author: Hugh Wilfred Culling
      p
        a(href="mailto:hughculling@icloud.com") hughculling@icloud.com 